.video-container {
  height: 100vh;
  width: auto;
  /* width: 1; */
  overflow-y: hidden;
  position: relative;
  scroll-snap-align: start;
}

.video {
  width: auto;
  height: 98%;
  border-radius: 3px;
  margin: 2vh 0;
  object-fit: contain;
}

.icon-play {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  color: white;
  /* align-items: center; */
  place-items: center;
}
.play,
.pause {
  /* display: none !important; */
}
