.App {
  background-color: black;
  overflow: hidden;
  height: 100vh;
}

.videos {
  height: 100vh;
  position: relative;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  display: grid;
  place-items: center;
}
.videos::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}
